/* NavBar.css */
.bluredBackground{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.288);
    width:100%;
    height:100%;
    z-index: 7;
}
/* Style du menu latéral */
.nav-bar {
    position: fixed;
    top: 0;
    left: -200px; /* Commence caché à gauche */
    width: 200px;
    height: 100%;
    background-color: #333;
    transition: 0.4s;
    overflow-y: auto;
  }
  
  .white{
    color : white;
  }

  /* Style des options du menu */
  .nav-bar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .nav-bar ul li {
    padding: 10px;
    color: white;
    cursor: pointer;
  }
  
  /* Animation pour ouvrir/fermer le menu */
  .nav-bar.open {
    left: 0;
  }
  
  #Title{
    text-align: center;
    font-style: oblique;
    color: rgb(255, 213, 213);

  }